.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}

.card {
  flex-grow: 1;
  text-align: center;
  border-left: 1px solid black;

  &:first-child {
    border-left: none;
  }

  .small-text {
    font-size: 12px;
  }

  .big-text {
    font-size: 24px;
  }
}
