<mat-card id="app-analysis-table">
  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="NPU">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        NPU
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.NPU }}
      </td>
    </ng-container>

    <ng-container matColumnDef="pinnedMovimentoCount">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Ocorrências
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.pinnedMovimentoCount }}
      </td>
    </ng-container>

    <ng-container matColumnDef="movimentosCount">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Qt. total de movimentos
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.movimentosCount }}
      </td>
    </ng-container>

    <ng-container matColumnDef="duration">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Duração do processo
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.duration[1] }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row class="row" *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator [length]="data.length" [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
</mat-card>