#app-analysis {
    p.title {
        font-size: 2em;
        font-weight: 300;
    }

    padding: 0em 1em 1em 1em;
}
.loading-animation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 82%
}

.spinner {
  width: 40px;
  height: 40px;
  border: 4px solid #3498db;
  border-top: 4px solid transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-animation p {
  margin-top: 8px;
  color: #555;
  font-weight: 500;
}
